* {
    padding: 0;
    margin: 0;
}
.modal {
    display: flex;
    justify-content: center;
   
}
.modal-dialog {
    min-width: 1000px;
}

.card-title {
    margin-left: 14px;
    margin-top: 14px;
}

